In [1]:
import pandas as pd
import numpy as np

## 텍스트 데이터 특징값 추출

In [2]:
#twitter 형태소 분석기 import
from konlpy.tag import Okt
twitter = Okt()

In [3]:
#Twitter 형태소 분석기로 명사, 형용사를 추출하는 함수 tokenize를 생성
#For문 사용, 토큰의 품사가 명사, 형용사일 경우 리스트 변수 stems에 저장
#3번 줄의 pos() 함수는 주어진 텍스트를 토큰화해서 품사를 판별하고 태그를 붙여준다
def tokenize(text):
    stems = []
    tagged = twitter.pos(text)
    for i in range (0, len(tagged)): 
        if (tagged[i][1]=='Noun' or tagged[i][1]=='Adjective') :
            stems.append(tagged[i][0])
    return stems

In [5]:
df = pd.read_csv('customer_data(filtered)_generated.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,Score,Review,SNS,Addr,Score2
0,0,0,0,0,0,0,0,0,5,안녕하세요. 데일리 신청해 봅니다. 어렸을 적 부터 장이 좋지 않았는데 고기 인...,twitter,경기도,good
1,1,1,1,1,1,1,1,1,2,오!! 안그래도 장이 안좋아서 아침마다 고생이거든요~~ 먹고 건강해지고 싶네용 ^^,facebook,서울특별시,bad
2,2,2,2,2,2,2,2,2,2,요즘 장이 안좋은지 하루종일 더부룩하고 배변후에도 시원하지 않네요.꼭 체험해보고싶습니다.,facebook,서울특별시,bad
3,3,3,3,3,3,3,3,3,3,우리 아이가 은가를 동글 동글 염소 똥처럼 눈답니다. 매번 너무 걱정이랍니다. 꼭 ...,facebook,서울특별시,normal
4,4,4,4,4,4,4,4,4,5,이것저것 유산균을 먹어봤지만 이거다~ 하는걸 아직 못만났어요. 장이 예민한 우리 작...,kakaostory,경상남도,good

In [6]:
# 고객의 신청글 항목의 0번째 텍스트 형태소 분석
#토큰의 품사가 명사인 경우 출력
tagged = twitter.pos(df['Review'][0])
for i in range (0, len(tagged)): 
        if (tagged[i][1]=='Noun') :
            print(tagged[i])

('데', 'Noun')
('일리', 'Noun')
('신청', 'Noun')
('적', 'Noun')
('부터', 'Noun')
('고기', 'Noun')
('인스턴트', 'Noun')
('음식', 'Noun')
('장', 'Noun')
('상태', 'Noun')
('더욱', 'Noun')
('업무', 'Noun')
('스트레스', 'Noun')
('또한', 'Noun')
('것', 'Noun')
('체험', 'Noun')
('신청', 'Noun')
('보고', 'Noun')
('장', 'Noun')
('경험', 'Noun')
('보고', 'Noun')

In [7]:
#그 명사 내에 토큰들이 어느 정도의 빈도로 존재하는가?
#TF-IDF : Term Frequency - Inverse Document Frequency
from sklearn.feature_extraction.text import TfidfVectorizer

In [8]:
#데이터 프레임의 텍스트를 astype 함수 사용 문자열 형태로 변환
#tolist 함수 사용 리스트로, array 함수 사용 배열로 순차적으로 변환
text_data_list = df['Review'].astype(str).tolist()
text_data_arr = np.array([''.join(text) for text in text_data_list])
print(text_data_arr)

['안녕하세요.   데일리 신청해 봅니다. 어렸을 적 부터 장이 좋지 않았는데 고기 인스턴트 음식을 좋아하다 보니 장 상태가 더욱 안좋아 졌어요. 업무에 지쳐 스트레스 또한 심한 것 같구요.   체험신청합니다. 빨리 먹어보고 건강한 장을 경험해 보고 싶어요 ^^'
 '오!! 안그래도 장이 안좋아서 아침마다 고생이거든요~~  먹고 건강해지고 싶네용 ^^'
 '요즘 장이 안좋은지 하루종일 더부룩하고 배변후에도 시원하지 않네요.꼭 체험해보고싶습니다.' ...
 '저희부모님이 건강이 좋지않아.. 부모님께한번 드려보고괜찮으면구매해볼까생각중입니다~ 부모님을위해 신청해요..ㅎㅎ'
 '저는 41살의 직장인겸 주부입니다. 15살 중2딸도 함께 체험을 신청합니다. 변비가 있어서 많이 더부룩하고 딸도한 저를 닮아 고생하는것이 안타깝습니다. 여러 유산균을 복용한 경험이 있어 꼭 체험해보고 계속 이용할까 생각중입니다'
 '변비가 너무 심하여 매일 매일 고통을 받고 있는 주부입니다 장에 좋은 음식이나 약을 먹어보며 안해본 방법이 없을 정도로 변비 탈출을 해보려 안간힘을 쓰고 있습니다 이번 기회를 통해 탈출을 해보고 싶습니다 도와주십시오!']

In [9]:
#min_df=2 단어의 최소등장빈도를 2번이상 등장하는 단어들을 대상
vectorizer = TfidfVectorizer(min_df=2, tokenizer=tokenize, norm='l2')
text_data = vectorizer.fit_transform(text_data_arr)
text_data

<2871x2931 sparse matrix of type '<class 'numpy.float64'>'
	with 58714 stored elements in Compressed Sparse Row format>

In [10]:
#TF-IDF 값으로 문서단어 행렬을 데이터 프레임 df_tfidf에 입력해 출력
df_tfidf = pd.DataFrame(text_data.A, columns=vectorizer.get_feature_names())
df_tfidf.head()

,가게,가격,가구,가기,가까이,가끔,가능,가능성,가도,가득,...,힘들어하는데,힘들어하더라,힘들어하셔서,힘들었는데,힘들었습니다,힘들었어요,힘들지만,힘듭니다,힘찬,힝
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0